.table-row-empty {
  text-align: center;
  font-size: 22px;
  color: red;
  font-weight: 700;
}

.table-col-empty {
  position: absolute;
  left: 28%;
  top: 30%;
}

.table-row {
  padding: 15px 0;
  display: flex;
  align-items: center;
  border-top: 0.5px solid var(--border-color);
}

.table-row--active {
  background-color: rgba(163, 163, 163, 0.2);
  border-bottom-color: transparent;
  border-left: 3px solid var(--bg-primary);
}
