.popover {
  position: absolute;
  background-color: var(--bg-dark);
  width: 125px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  padding: 10px;
  top: 110px;
  left: 16px;
  cursor: pointer;
  color: var(--text-light);
  text-align: center;
}

.popover:hover {
  background-color: #3f424a;
}

.popover-item {
  text-decoration: none;
  font-size: 15px;
}
