:root {
  /* color */
  --blue-color: #1ca1c1;
  --white-color: #fff;
  --silver-color: #f4f5f9;
  --gray-color: #475466;
  --border-color: #dadee0;
  --red-color: #ff6455;
  --green-color: #55cd97;
  --green-light-color: #d4ede5;
  --red-light-color: #ffdedb;

  /* text */
  --text-primary: var(--gray-color);
  --text-secondary: var(--blue-color);
  --text-light: var(--white-color);
  --text-success: var(--green-color);
  --text-highlight: var(--red-color);

  /* background */
  --bg-primary: var(--blue-color);
  --bg-secondary: var(--white-color);
  --bg-dark-light: var(--silver-color);
  --bg-dark: var(--gray-color);
  --bg-success: var(--green-light-color);
  --bg-danger: var(--red-light-color);

  /* font-family */
  --font-family-primary: 'Roboto-Regular', sans-serif;
  --font-family-secondary: 'Roboto-Bold', sans-serif;

  /* header height */
  --header-height: 60px;

  /* view info height */
  --top-height: 160px;
  --top-edit-height: 325px;
  --viewInfo-height-avatar: 225px;
  --viewInfo-height: 45px;
}
