.label {
  height: 24px;
  padding: 0px 15px;
  background-color: var(--bg-dark-light);
  font-size: 12px;
  border-radius: 8px;
}

.label-icon {
  margin: 0 5px;
}

.label-name {
  color: var(--text-secondary);
}

.label-name--disable {
  color: var(--text-primary);
}
