.color-picker {
  align-items: center;
  position: relative;
}

.color-picker-label {
  width: 125px;
  font-weight: 600;
}

.color-picker .github-picker {
  position: absolute;
  top: 40px;
  left: -5px;
  z-index: 1;
}

.color-picker-area {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
