.sidebar {
  background-color: var(--bg-dark);
  height: calc(100vh - var(--height-top-md));
  width: 180px;
}

.sidebar-item {
  color: var(--text-light);
  margin-top: 15px;
  display: flex;
  padding: 15px 15px;
  gap: 10px;
  cursor: pointer;
}

.sidebar-active {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: transparent;
  color: var(--text-secondary);
  border-left: 3px solid var(--bg-primary);
}
