.tab {
  width: 100%;
  height: 48px;
  color: var(--text-secondary);
  border: none;
  font-weight: 600;
  background-color: transparent;
}

.tab:hover {
  background-color: var(--bg-dark-light);
}

.tab--active {
  border-bottom: 3px var(--bg-primary) solid;
}
