.input-box {
  width: 95%;
  align-items: center;
  gap: 25px;
}

.input-form {
  font-size: 16px;
  padding: 8px;
  border: 1px solid var(--border-color);
}

.input-form:focus {
  border: transparent;
  outline: 2px solid var(--bg-primary);
}

.input-small {
  width: 60%;
}

.input-medium {
  width: 75%;
}

.input-large {
  width: 100%;
}

.input-label {
  font-size: 16px;
  font-weight: 600;
  width: 40%;
}
