.status {
  width: 90px;
  padding: 4px;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
  color: var(--text-highlight);
  background-color: var(--bg-danger);
  font-weight: 600;
}

.status-active {
  width: 50px;
  color: var(--text-success);
  background-color: var(--bg-success);
}
