.btn {
  height: 32px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--bg-dark-light);
  color: var(--text-secondary)
}

.btn:disabled {
  cursor: not-allowed;
  color: #94a1b3;
}

.btn-primary {
  background-color: var(--bg-primary);
  color: var(--text-light);
}

.btn-secondary {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.btn-small {
  width: 116px;
}

.btn-medium {
  width: 160px;
}

.btn-large {
  width: 176px;
}

.btn-icon {
  padding-right: 10px;
}
