.list {
  list-style: none;
  padding: 10px;
  color: var(--text-primary);
}

.list-header {
  margin-bottom: 6px;
  gap: 10px;
}

.list-header-label {
  display: block;
  font-weight: 700;
}


.list-icon {
  width: 20px;
  height: 16px;
}
