.sidebar-item {
  list-style: none;
  text-decoration: none;
  color: var(--text-light);
  gap: 15px;
  padding: 15px 5px;
  font-family: var(--font-family-primary);
}

.sidebar-item:hover {
  cursor: pointer;
}

.sidebar-item-icon {
  padding-left: 2px;
  width: 20px;
  height: 20px;
}
