.popover {
  position: absolute;
  background-color: var(--bg-dark);
  max-width: 80%;
  width: 176px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  cursor: pointer;
  color: var(--text-light);
}

.popover-item {
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
}

.popover-item:hover {
  background-color: #3f424a;
}
