.layout-wrapper {
  max-width: 100%;
  height: calc(100vh - var(--header-height));
  margin: 0 auto;
}

.layout-row {
  height: 100%;
}

.layout-item {
  padding: 20px 0 20px 20px;
}

.layout-column-large {
  width: 87.5%;
}
