 .modal {
  width: 400px;
  background-color: var(--bg-secondary);
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: fade .8s forwards;
  cursor: default;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(214, 214, 214, 0.651);
  z-index: 999;
  cursor: not-allowed;
}

.modal-header {
  margin: 5px 10px;
  align-items: center;
}

.modal-title {
  font-weight: 600;
}

.modal-body {
  margin-top: 16px;
  justify-content: space-around;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
