.edit {
  width: 80%;
  background-color: var(--bg-secondary);
  padding: 25px;
}

.edit-wrapper {
  gap: 25px;
  float: right;
  margin: 10px 0 40px 0;
}

.edit-upload {
  gap: 30px;
}

.edit-label {
  align-items: center;
  gap: 25px;
}

.edit-title {
  font-weight: 600;
}
