.edit-rules {
  margin: 25px;
}

.edit-rules-label {
  margin-bottom: 10px;
  font-weight: 600;
}

.edit-rules-search {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--bg-primary);
  padding: 5px;
  background-color: var(--bg-dark-light);
}

.edit-rules-input {
  font-size: 16px;
  padding: 8px;
  margin-right: 4px;
  border: 1px solid var(--border-color);
  width: 100%;
}

.edit-rules-input:focus {
  border: transparent;
  outline: 1px solid var(--bg-primary);
}

.edit-rules-list {
  max-height: calc(100vh - var(--top-edit-height));
  font-size: 14px;
}

.edit-rules-item {
  padding: 15px 20px;
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--border-color);
}

.edit-rules-item-block {
  align-items: center;
  gap: 10px;
}

.edit-rules-item--checked {
  background-color: var(--bg-dark-light);
}

.edit-rules-item-title {
  font-size: 18px;
}

.edit-rules-item-des {
  margin-top: 6px;
  font-size: 14px;
  color: var(--text-primary);
}

.edit-rules-spacing {
  gap: 10px;
}
