.avatar {
  background-color: var(--bg-primary);
  font-weight: 700;
  color: var(--text-light);
}

.avatar-small {
  font-size: 16px;
  width: 40px;
  height: 40px;
}

.avatar-medium {
  font-size: 70px;
  width: 85px;
  height: 85px;
}

.avatar-large {
  font-size: 120px;
  width: 180px;
  height: 180px;
}

.avatar-circle {
  border-radius: 50px;
  margin-left: 10px;
}
