.icon {
  color: #94a1b3;
  font-size: 18px;
}

.icon:hover {
  color: var(--gray-color);
}

.icon-block {
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
}

.icon-block:hover {
  background-color: var(--bg-dark-light);
  border-radius: 30px;
}
