.radio-button {
  font-size: 14px;
  color: var(--text-primary);
  margin-bottom: 5px;
  padding: 5px 0;
  font-size: 18px;
  gap: 5px;
  align-items: center;
}

.radio-button-input {
  cursor: pointer;
  width: 20px;
  height: 20px;
  accent-color: var(--bg-primary);
}

.radio-button-label {
  gap: 3px;
}
