.table-row-empty {
  text-align: center;
  font-size: 22px;
  color: red;
  font-weight: 700;
}

.table-col-empty {
  position: absolute;
  left: 28%;
  top: 30%;
}

.table-row {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #ccc;
}
