.toolbar {
  height: 50px;
  background-color: var(--bg-secondary);
  padding: 0 15px;
  border-bottom: 1px solid var(--border-color);
  align-items: center;
}

.toolbar-title {
  font-weight: 600;
}

.toolbar-wrapper {
  align-items: center;
  gap: 30px;
}
