.edit-check {
  margin: 25px;
}

.edit-check-label {
  margin-bottom: 15px;
  font-weight: 600;
}

.edit-checkbox-item {
  padding: 5px 15px;
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--border-color);
  align-items: center;
  gap: 15px;
}
