@font-face {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype'),
}

@font-face {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    src: url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype'),
}
