.table-body {
  background-color: var(--bg-secondary);
  max-height: 540px;
  height: 100%;
  display: block;
  overflow: hidden;
}

.table-body:hover {
  overflow-y: auto;
}

.table-body::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.table-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dcdcdc;
  border-radius: 10px;
}

/* Handle */
.table-body::-webkit-scrollbar-thumb {
  background-color: var(--bg-dark);
  border-radius: 10px;
}
