.view {
  height: calc(100vh - var(--top-height));
  overflow: hidden;
  padding-top: 25px;
  padding-left: 15px;
}

.view-info {
  max-height: calc(100% - var(--viewInfo-height-avatar));
}

.view-info--not-avatar {
  max-height: calc(100% - var(--viewInfo-height));
}
