
.scroll {
  height: 100%;
  display: block;
  overflow: hidden;
}

.scroll:hover {
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dcdcdc;
  border-radius: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background-color: var(--bg-dark);
  border-radius: 10px;
}
