.sidebar-wrapper {
  background-color: var(--bg-secondary);
  height: calc(100vh - var(--height-top-lg));
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid var(--border-color);
  width: 60%;
}
