.checkbox {
  align-items: center;
  width: 100%;
  gap: 5px;
}

.checkbox-input {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  accent-color: var(--bg-primary);
}

.checkbox-label {
  font-size: 14px;
  color: var(--text-primary);
}
