.view {
  padding: 15px;
  background-color: var(--bg-secondary);
}

.view-body {
  margin-top: 25px;
}

.view-info {
  text-align: center;
}

.view-info h3 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}
