input[type="file"] {
  display: none;
}

.input-file {
  gap: 15px;
}

.input-file-label {
  font-weight: 600;
  width: 100px;
}

.input-file-upload {
  width: 180px;
  height: 25px;
  padding: 4px;
  color: var(--text-secondary);
  border-radius: 5px;
}

.input-file-upload:hover {
  background-color: var(--bg-dark-light);
}

.input-file-upload-icon {
  margin: 8px;
}
