.page-sidebar {
  background-color: var(--bg-secondary);
  margin-right: 10px;
  border: 1px solid var(--border-color);
  margin-left: 10px;
  height: 100%;
  overflow: hidden;
}

.page-view {
  width: 550px;
}

.page-edit {
  width: 100%;
}

.page-edit-header {
  align-items: center;
  gap: 15px;
  padding-left: 10px;
  border-bottom: 1px solid var(--border-color);
}

.page-edit-block {
  align-items: center;
  gap: 30px;
}

.page-edit-title {
  width: 100px;
  font-weight: 600;
}

.page-table {
  width: 100%;
}
