.item-link {
  margin: 2px 0;
  padding: 6px 0 6px 28px;
  list-style: none;
  color: var(--text-secondary);
  background-color: var(--bg-dark-light);
  border-radius: 4px;
}

.item-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
